<div class="container">
    <!-- <div class="header">
      <div class="weather-icon"></div>
      <div class="city">
        <h1>{{locale}}</h1>
      </div>
      <h2>{{hour}} | {{weather}}</h2>
    </div> -->
    
    <div class="preview">
    
      <div class="day1 box">
        <span>Quarta</span>
        <img width="50" height="50" src="../../assets/icons/wi-cloud.svg" alt="…">
        <p>max_temp:{{max_temp[0]}}</p>
        <p>min_temp:{{min_temp[0]}}</p>
        <p>wind:{{wind[0]}}</p>
      </div>  
      <div class="day2 box">
        <span>Quinta</span>
        <img width="50" height="50" src="../../assets/icons/wi-day-cloudy.svg" alt="…">
        <p>teste</p>
        <p>teste</p>
        <p>teste</p>
      </div>
      <div class="day3 box">
        <span>Sexta</span>
       <img width="50" height="50" src="../../assets/icons/wi-day-rain-wind.svg" alt="…">
       <p>teste</p>
       <p>teste</p>
       <p>teste</p>
      </div>
      <div class="day1 box">
        <span>Sabado</span>
        <img width="50" height="50" src="../../assets/icons/wi-cloudy-windy.svg" alt="…">
        <p>teste</p>
        <p>teste</p>
        <p>teste</p>
      </div>
      <div class="day2 box">
        <span>Domingo</span>
        <img width="50" height="50" src="../../assets/icons/wi-day-rain.svg" alt="…">
        <p>teste</p>
        <p>teste</p>
        <p>teste</p>
      </div>
    </div>
    
    <div class="weather-content">
    
    <!-- @@ -29,4 +66,5 @@ <h2>{{hour}} | {{weather}}</h2> -->
    </div>
    
<!-- </div> -->
</div>
