<app-weather-search></app-weather-search>

<div class="header">
  <div class="weather-icon">
    <app-design-animation></app-design-animation>
  </div>
  
  <div class="city">
    <h1>{{locale}}</h1>
  </div>
  <h2>{{hour}} | {{weather}}</h2>
</div>


<div class="weather-content">
  
  <p class="temp_val">{{temp}}</p>
  
  <p class="weather_val">{{weather}}</p>
  
  
  <div class="weather-parameters flex">
    <div class="humidity">
      <p>Umidade</p>
      <p>{{humidity}}</p>
    </div>
    <div class="vertical-line"></div>
    <div class="wind">
      <p>Vento</p>
      <p>{{wind}}</p>
    </div>
  </div>
    
</div>


<!-- Atlanta, Rio de Janeiro, São Paulo, Curitiba, Lisboa, Roma, Londres, Paris, Bogotá -->
