
<nav>
  <input type="text" name="search" placeholder="Buscar cidade">
</nav>


<div class="header">
  <img src="../../assets/icons/wi-cloud.svg" alt="…">
  <h1>{{locale}}</h1>
  <h2>{{hour}} | {{weather}}</h2>
</div>


<div class="weather-content">

  <p style="font-size: 38px">{{temp}}</p>
  
  <p>{{weather}}</p>
  
  <div class="params"><p>Umidade</p>
    <p>{{humidity}}</p>
    
    <div class="vertical-line"></div>
    
    <p>Vento</p>
    <p>{{wind}}</p>
    
    <p>Min: {{min_temp}}</p>
    <p>Máx: {{max_temp}}</p>

    <div class="preview">
      <div class="day1"><svg ></svg></div>
      <div class="day2"></div>
      <div class="day3"></div>
      <div class="day4"></div>
      <div class="day5"></div>
    </div>
  </div>
</div>

